{{> header}}
{{> navbar}}
<br>

<h1 class="title">Rafael Sanzio</h1>
<p class="text">Rafael nació el 6 de abril de 1483 en Urbino, Italia.</p>
<p class="text">Hijo de Magia di Battista di Nicola Ciarla. Los inicios en su formación fueron junto a su padre, el pintor Giovanni Santi.</p>
<p class="text">Su madre murió en 1491. Su progenitor volvió a casarse en 1494. Con tan solo 11 años, quedó huérfano y bajo la custodia de su tío Bartolomeo, sacerdote.</p>
<p class="text">Posteriormente fue alumno de Giovanni Santi y de Timoteo Viti en Urbino.</p>

<h2 class="title1">Sus obras</h2>
<p class="text">Su primera obra documentada parece ser que fue el Retablo Baronci, aunque también se cita La resurrección de Cristo, realizada entre 1499 y 1501 para la Iglesia de San Nicolás de Tolentino en Città di Castell.</p>
<p class="text">Rafael, siendo apellidado el divino adolescente también pintó por entonces Apolo y Marsias (Museo del Louvre, París) y El sueño del caballero (1501, National Gallery, Londres).</p>
<p class="text">En el año 1499 viajó a Perugia, donde fue ayudante del pintor Perugino. Realizó por entonces obras muy parecidas a las de su maestro: Los desposorios de la Virgen (1504, Galería Brera, Milán, obra pintada ya en Florencia) y la tabla del retablo de Città di Castello, la Virgen y los santos Jerónimo, Magdalena y Juan Evangelista (1503, National Gallery, Londres).</p>
<p class="text">En 1504 llega a Florencia, donde estudió a Leonardo da Vinci, Miguel Ángel y Fray Bartolommeo, apreciando sus estudios anatómicos y poses dramáticas.</p>
<p class="text">Introdujo un cambio de estilo tomando la perspectiva de forma más natural y suave. Pintó numerosas madonnas: Madonna del Granduca (1504-1505, Palacio Pitti, Florencia).</p>
<p class="text">Expuso la influencia de Leonardo en la expresión de serenidad, la composición triangulada: La bella jardinera (1507-1508, Museo del Louvre, París) y la Virgen del jilguero (1505, Galería de los Uffizi, Florencia). Realizó después El Entierro de Cristo (1507, Galería Borghese, Roma).</p>
<p class="text">En 1508 se trasladó a Roma requerido por el papa Julio II, quien le encargó la decoración mural de cuatro pequeñas stanze en el Palacio del Vaticano. En la Stanza della Segnatura (1509-1511) muestra un techo con las alegorías de la teología, la filosofía, la poesía y la justicia. En la pared, bajo la teología, se sitúa la Disputa, que representa la discusión del dogma de la Trinidad. La famosa Escuela de Atenas, situada debajo de la Filosofía, representa a Platón, Aristóteles y otros filósofos antiguos donde argumentan. Bajo la poesía se halla el Parnaso, en el que el Apolo aparece rodeado por las musas y los grandes poetas. Por último, bajo la justicia, Gregorio IX y Justiniano mostrando sus códigos. La Stanza d´Heliodoro (1512-1514), contiene escenas que representan el triunfo de la Roma católica sobre sus enemigos.</p>
<p class="text">Cuando falleció Julio II en 1513 le sucedió León X aumentando Rafael su influencia. Maestro Mayor de la Basílica de San Pedro en 1514, un año más tarde dirigió todas las excavaciones arqueológicas en Roma.</p>
<p class="text">Pintó parte de la tercera estancia del Palacio del Vaticano, la del Incendio del Borgo (1514-1517). El resto es obra de sus ayudantes. Para la cuarta cámara, la Sala Constantina, realizó los diseños. Además hizo obras de caballete, como el retrato de Julio II (1511-1512), la Madonna Sixtina (c. 1514, Gemäldegalerie, Dresde) o la Transfiguración (1517-1520, Vaticano).</p>
<p class="text">Tuvo como pareja a Margherita Luti, conocida como la Fornarina (del italiano fornaio, panadero), su amante y modelo predilecta y quien le inspiró varias de sus obras.</p>
<p class="text">Rafael falleció en Roma el 6 de abril de 1520.</p>

<h2 class="title1">Algunas de sus obras</h2>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
    <center><div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/images/r1.jpg" class="d-block w-50">
    </div>
    <div class="carousel-item">
        <img src="/images/r2.jpg" class="d-block w-50">
    </div>
    <div class="carousel-item">
        <img src="/images/r3.jpg" class="d-block w-50">
    </div>
    <div class="carousel-item">
        <img src="/images/r4.jpg" class="d-block w-30">
    </div>
    <div class="carousel-item">
        <img src="/images/r5.jpg" class="d-block w-30">
    </div>
  </div></center>
  
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
    </div>  
 
<br> <br> <br> <br>
{{> footer}}